body {
    font-family: 'Montserrat';
}

.botao-top {
    border: 1px solid black;
    /*border: none;*/
    padding: 5px 7 px;
    color: blanchedalmond;
    background-color: brown;
    border-radius: 20px;
    margin: 20px;
}